@inject NavigationManager Navigation
@inject IAuthService authService
<AuthorizeView>
    <Authorized>
        <a href="dashboard">Olá, @context.User.Identity.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Sair do sistema</button>
    </Authorized>
    <NotAuthorized>
        <a href="register">Cadastrar novo usuário</a>
        <a href="login">Entrar no sistema</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    protected override async void OnInitialized()
    {
    }
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await authService.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}
